# Exercises - Data Science Sprint 03 - M03 T02
   **Dataframes**

## Exercise #1

### Importing CSV file
Download the following data set: "Airlines Delay: Airline on-time statistics and delay causes" and create a Pandas Dataframe.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the file located at same folder as jupyter file
flights = pd.read_csv("DelayedFlights.csv", sep=',', encoding='utf8', index_col=0)

# Display de first rows 
flights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [2]:
# Get the number of rows and columns of the dataframe just read
flights.shape

(1936758, 29)

In [3]:
# In order to work easyly with less data, we reduce the set to 200.000 rows randomly
flights = flights.sample(n = 200000, replace = False)

In [4]:
# Get the rows and columns of the dataframe in order to check the new shape of the dataframe
flights.shape

(200000, 29)

### Exploring data
Explore the data and keep only the relevant columns.

In [5]:
# General info of the dataframe
flights.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 6566382 to 3857554
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               200000 non-null  int64
 1   Month              200000 non-null  int64
 2   DayofMonth         200000 non-null  int64
 3   DayOfWeek          200000 non-null  int64
 4   DepTime            200000 non-null  float64
 5   CRSDepTime         200000 non-null  int64
 6   ArrTime            199242 non-null  float64
 7   CRSArrTime         200000 non-null  int64
 8   UniqueCarrier      200000 non-null  object
 9   FlightNum          200000 non-null  int64
 10  TailNum            200000 non-null  object
 11  ActualElapsedTime  199117 non-null  float64
 12  CRSElapsedTime     199984 non-null  float64
 13  AirTime            199117 non-null  float64
 14  ArrDelay           199117 non-null  float64
 15  DepDelay           200000 non-null  float64
 16  Origin             200000 non-null  object
 17  Dest               200000 non-null  object
 18  Distance           200000 non-null  int64
 19  TaxiIn             199242 non-null  float64
 20  TaxiOut            199957 non-null  float64
 21  Cancelled          200000 non-null  int64
 22  CancellationCode   200000 non-null  object
 23  Diverted           200000 non-null  int64
 24  CarrierDelay       128725 non-null  float64
 25  WeatherDelay       128725 non-null  float64
 26  NASDelay           128725 non-null  float64
 27  SecurityDelay      128725 non-null  float64
 28  LateAircraftDelay  128725 non-null  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 45.8+ MB

In [6]:
# Getting the total of nulls of each column, so we can drop useless columns.
flights.isnull().sum()

Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                758
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime      883
CRSElapsedTime          16
AirTime                883
ArrDelay               883
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 758
TaxiOut                 43
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         71275
WeatherDelay         71275
NASDelay             71275
SecurityDelay        71275
LateAircraftDelay    71275
dtype: int64

In [7]:
# Show name columns
flights.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [8]:
#  So, let's consider that all columns with null values must be dropped. These columns with missing values can affect to 
# our analisys due to the missing data. ON the other hand, columns as TaxiIn, TaxiOut or FlightNum have no interest
# in order to the delay and cancellation analysis. 

# Let's drop the non interesting columns
flights.drop(['CRSDepTime', 'CRSArrTime',
              'FlightNum', 'TailNum','CRSElapsedTime', 
              'TaxiIn', 'TaxiOut', 'CarrierDelay',
              'WeatherDelay', 'NASDelay', 'SecurityDelay', 
              'LateAircraftDelay'], axis = 1, inplace = True)

In [9]:
# Remaining list of columns on dataframe
flights.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'ArrTime',
       'UniqueCarrier', 'ActualElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay',
       'Origin', 'Dest', 'Distance', 'Cancelled', 'CancellationCode',
       'Diverted'],
      dtype='object')

In [10]:
# Show fisrts rows
flights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,CancellationCode,Diverted
6566382,2008,12,18,4,659.0,857.0,XE,118.0,101.0,53.0,59.0,HSV,IAH,595,0,N,0
2366938,2008,4,18,5,1313.0,1625.0,CO,132.0,104.0,2.0,18.0,IAH,IND,845,0,N,0
1283921,2008,3,2,7,1539.0,1639.0,XE,60.0,39.0,9.0,9.0,IAH,DAL,217,0,N,0
3080473,2008,6,28,6,1706.0,1810.0,WN,64.0,52.0,5.0,11.0,BWI,ALB,288,0,N,0
1603118,2008,3,28,5,1107.0,1323.0,MQ,136.0,89.0,43.0,32.0,LGA,CLT,544,0,N,0

## Exercise #2
* Create a complete rapport of the data set:
    * From the most interesting columns get a statistical summary
    * Find out the missing data on every column
    * Create new columns: average flight speed, arrived on time...
    * Create a table of airlines with the most accumulated delays
    * Which are the longest flights? Search for the longest routes and those with the most delays
    * Contribute anything you consider relevant

In [11]:
# Statistical summary for the most interesting columns
flights[['ActualElapsedTime','AirTime', 'Distance', 'DepDelay']].describe()

       ActualElapsedTime        AirTime       Distance       DepDelay
count      199117.000000  199117.000000  200000.000000  200000.000000
mean          133.293802     108.277259     765.899800      43.099905
std            72.245775      68.757264     575.630483      53.846917
min            17.000000       0.000000      11.000000       6.000000
25%            80.000000      58.000000     338.000000      12.000000
50%           116.000000      90.000000     606.000000      24.000000
75%           165.000000     137.000000     998.000000      53.000000
max           750.000000     636.000000    4962.000000    2467.000000

In [12]:
# From the column of the dataframe, we can list all columns with the detail number of null values
flights.isnull().sum()

Year                   0
Month                  0
DayofMonth             0
DayOfWeek              0
DepTime                0
ArrTime              758
UniqueCarrier          0
ActualElapsedTime    883
AirTime              883
ArrDelay             883
DepDelay               0
Origin                 0
Dest                   0
Distance               0
Cancelled              0
CancellationCode       0
Diverted               0
dtype: int64

In [13]:
# Create a new column average flight speed miles/hour 
flights['AverageSpeed'] = flights['Distance'] / (flights['AirTime'] / 60)
flights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,CancellationCode,Diverted,AverageSpeed
6566382,2008,12,18,4,659.0,857.0,XE,118.0,101.0,53.0,59.0,HSV,IAH,595,0,N,0,353.465347
2366938,2008,4,18,5,1313.0,1625.0,CO,132.0,104.0,2.0,18.0,IAH,IND,845,0,N,0,487.500000
1283921,2008,3,2,7,1539.0,1639.0,XE,60.0,39.0,9.0,9.0,IAH,DAL,217,0,N,0,333.846154
3080473,2008,6,28,6,1706.0,1810.0,WN,64.0,52.0,5.0,11.0,BWI,ALB,288,0,N,0,332.307692
1603118,2008,3,28,5,1107.0,1323.0,MQ,136.0,89.0,43.0,32.0,LGA,CLT,544,0,N,0,366.741573

In [14]:
# Create a new column average true/false if they have arrived late or not (positive value of ArrDelay)
# Let's consider a True delay for more than 15 minutes
flights["ArrLate"] = flights["ArrDelay"].apply(lambda x: True if x > 15 else False)
flights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,CancellationCode,Diverted,AverageSpeed,ArrLate
6566382,2008,12,18,4,659.0,857.0,XE,118.0,101.0,53.0,59.0,HSV,IAH,595,0,N,0,353.465347,True
2366938,2008,4,18,5,1313.0,1625.0,CO,132.0,104.0,2.0,18.0,IAH,IND,845,0,N,0,487.500000,False
1283921,2008,3,2,7,1539.0,1639.0,XE,60.0,39.0,9.0,9.0,IAH,DAL,217,0,N,0,333.846154,False
3080473,2008,6,28,6,1706.0,1810.0,WN,64.0,52.0,5.0,11.0,BWI,ALB,288,0,N,0,332.307692,False
1603118,2008,3,28,5,1107.0,1323.0,MQ,136.0,89.0,43.0,32.0,LGA,CLT,544,0,N,0,366.741573,True

In [15]:
# List the 5 top airlines with more accumulated delays
flights.groupby(["UniqueCarrier"])["ArrDelay"].sum().sort_values().nlargest(5)

UniqueCarrier
WN    1177858.0
AA     929697.0
UA     693950.0
MQ     648045.0
OO     610738.0
Name: ArrDelay, dtype: float64

In [16]:
# Counting total flights of each carrier
flights.UniqueCarrier.value_counts()

WN    39165
AA    19862
UA    14680
MQ    14675
OO    13471
DL    11831
XE    10767
CO    10365
US    10092
EV     8424
NW     8175
FL     7348
YV     6825
B6     5726
OH     5443
9E     5330
AS     4090
F9     2873
HA      781
AQ       77
Name: UniqueCarrier, dtype: int64

In [17]:
# Let's get a new dataframe where data is grouped by UniqueCarrier
flightsUC = flights.groupby('UniqueCarrier')

# Lets see the total distance, and the mean distance of each Carrier
flightsUC["ArrDelay"].agg([np.sum, np.mean])

                     sum       mean
UniqueCarrier
9E              248466.0  46.836192
AA              929697.0  47.049443
AQ                2109.0  27.389610
AS              142905.0  35.198276
B6              313348.0  55.021598
CO              422787.0  40.971703
DL              462871.0  39.282950
EV              398962.0  47.410814
F9               76608.0  26.729937
FL              320581.0  43.831146
HA               26179.0  33.605905
MQ              648045.0  44.395766
NW              367976.0  45.133816
OH              270963.0  49.983951
OO              610738.0  45.563862
UA              693950.0  47.478790
US              362418.0  36.093815
WN             1177858.0  30.184460
XE              532353.0  49.747967
YV              375002.0  55.236706

In [18]:
# Lets define a function to calculate the percentage of a series
def pertg(series):
    return str(round(series.sum() * 100 / series.count(), 2)) + "%"

# Show the percentage of cancelled flights
flightsUC["Cancelled"].agg([np.sum, np.size, pertg])

               sum   size  pertg
UniqueCarrier
9E               6   5330  0.11%
AA              10  19862  0.05%
AQ               0     77   0.0%
AS               0   4090   0.0%
B6               1   5726  0.02%
CO               4  10365  0.04%
DL               3  11831  0.03%
EV               1   8424  0.01%
F9               1   2873  0.03%
FL               0   7348   0.0%
HA               0    781   0.0%
MQ               8  14675  0.05%
NW               0   8175   0.0%
OH               2   5443  0.04%
OO              10  13471  0.07%
UA               7  14680  0.05%
US               0  10092   0.0%
WN               0  39165   0.0%
XE               5  10767  0.05%
YV               7   6825   0.1%

In [19]:
# Let's sort the dataframe so we can show the 10 longest flights
flights.nlargest(10, "ActualElapsedTime")

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,CancellationCode,Diverted,AverageSpeed,ArrLate
4811552,2008,8,2,6,1808.0,38.0,CO,750.0,597.0,388.0,273.0,EWR,HNL,4962,0,N,0,498.693467,True
2353867,2008,4,24,4,1351.0,1900.0,CO,669.0,636.0,50.0,16.0,EWR,HNL,4962,0,N,0,468.113208,True
577639,2008,1,9,3,1448.0,2055.0,CO,667.0,628.0,95.0,88.0,EWR,HNL,4962,0,N,0,474.076433,True
1134255,2008,2,28,4,1330.0,1923.0,CO,653.0,629.0,3.0,10.0,EWR,HNL,4962,0,N,0,473.322734,False
6431542,2008,11,23,7,1428.0,2018.0,CO,650.0,614.0,43.0,53.0,EWR,HNL,4962,0,N,0,484.885993,True
2971152,2008,5,10,6,1347.0,1836.0,CO,649.0,623.0,26.0,12.0,EWR,HNL,4962,0,N,0,477.881220,True
1742568,2008,3,22,6,1328.0,1816.0,CO,648.0,626.0,-4.0,8.0,EWR,HNL,4962,0,N,0,475.591054,False
1145711,2008,2,12,2,1338.0,1926.0,CO,648.0,573.0,6.0,18.0,EWR,HNL,4962,0,N,0,519.581152,False
1151472,2008,2,11,1,1334.0,1921.0,CO,647.0,622.0,1.0,14.0,EWR,HNL,4962,0,N,0,478.649518,False
6977972,2008,12,22,1,1518.0,2103.0,CO,645.0,613.0,88.0,103.0,EWR,HNL,4962,0,N,0,485.676998,True

In [20]:
# Let's sort the dataframe so we can show the 10 flights with more delay
flights.nlargest(10, "ArrDelay")

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,CancellationCode,Diverted,AverageSpeed,ArrLate
2235378,2008,4,10,4,724.0,858.0,NW,154.0,132.0,2453.0,2467.0,CLT,MSP,930,0,N,0,422.727273,True
6857047,2008,12,19,5,1602.0,1921.0,NW,259.0,192.0,1655.0,1597.0,BOS,MSP,1124,0,N,0,351.250000,True
4061361,2008,7,16,3,820.0,1325.0,NW,185.0,160.0,1510.0,1518.0,SEA,MSP,1399,0,N,0,524.625000,True
6868167,2008,12,17,3,1048.0,1748.0,NW,240.0,184.0,1395.0,1403.0,LAS,DTW,1750,0,N,0,570.652174,True
1006701,2008,2,22,5,718.0,1235.0,NW,197.0,169.0,1350.0,1348.0,PDX,MSP,1426,0,N,0,506.272189,True
1097934,2008,2,5,2,1031.0,1207.0,AA,156.0,141.0,1312.0,1316.0,RSW,STL,979,0,N,0,416.595745,True
1095815,2008,2,7,4,805.0,1116.0,AA,131.0,112.0,1196.0,1215.0,SLC,DFW,988,0,N,0,529.285714,True
1620103,2008,3,2,7,258.0,809.0,NW,191.0,159.0,1189.0,1193.0,SEA,MSP,1399,0,N,0,527.924528,True
1621875,2008,3,12,3,937.0,1310.0,NW,153.0,128.0,1166.0,1167.0,FCA,MSP,1026,0,N,0,480.937500,True
4092707,2008,7,2,3,1412.0,1512.0,9E,60.0,23.0,1143.0,1127.0,FNT,DTW,56,0,N,0,146.086957,True

In [21]:
# Find the top 10 longest flight distance

# Sorting the set in order to get a sorted grouping 
flights.sort_values(['Distance','Origin','Dest'], axis = 0, ascending = False, inplace = True,
               na_position = "first")

#  Let's group by distance, Origin and Dest. This is because in some cases we can have same distance with diferent
# Origin-Destination
flightsDist = flights.groupby(['Distance','Origin','Dest'], sort=False).size()

# Show the 10 longest flight distance
flightsDist.head(10)

Distance  Origin  Dest
4962      HNL     EWR      6
          EWR     HNL     33
4502      HNL     ATL     10
          ATL     HNL     31
4243      ORD     HNL     23
          HNL     ORD     12
4213      KOA     ORD      3
4184      ORD     OGG      8
3972      MSP     HNL      5
          HNL     MSP      7
dtype: int64

In [22]:
# Now let's find out the accumulated Delay of each route
flightsDelay = flights.groupby(['Distance','Origin','Dest'])['ArrDelay'].sum().reset_index()
# Get the top ten routes with more accumulated delay
flightsDelay.sort_values('ArrDelay', ascending =False).head(10)

      Distance Origin Dest  ArrDelay
2527       719    ORD  EWR   24237.0
2567       733    ORD  LGA   23868.0
1039       337    LAX  SFO   22512.0
2566       733    LGA  ORD   22055.0
1041       337    SFO  LAX   20513.0
2599       745    ATL  EWR   20282.0
2526       719    EWR  ORD   20031.0
2648       761    ATL  LGA   18257.0
2777       802    DFW  ORD   17535.0
2600       745    EWR  ATL   17476.0

## Exercise #3
Export the clean data set clean  the new columns to Excel

In [23]:
flights.to_excel("flights_v2.xlsx")